//*Font family
$ff-primary: 'Lato', sans-serif;

//*Colors
$clr-primary: #ffd166;

$clr-dark:#343a40;
$clr-light:#e9ecef;

$black: #000;
$white:#fff;

//*Layout

$container-width: 110rem;
$header-height: 9rem;
